@font-face {
	font-family: "Fira Sans";
	src: local("Fira Sans Regular"),
		url("./fonts/Fira/FiraSans-Regular.woff2") format("woff2"),
		url("./fonts/Fira/FiraSans-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Fira Sans";
	src: local("Fira Sans Regular Italic"),
		url("./fonts/Fira/FiraSans-Italic.woff2") format("woff2"),
		url("./fonts/Fira/FiraSans-Italic.woff") format("woff");
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: "Fira Sans";
	src: local("Fira Sans Medium"),
		url("./fonts/Fira/FiraSans-Medium.woff2") format("woff2"),
		url("./fonts/Fira/FiraSans-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Fira Sans";
	src: local("Fira Sans Medium Italic"),
		url("./fonts/Fira/FiraSans-MediumItalic.woff2") format("woff2"),
		url("./fonts/Fira/FiraSans-MediumItalic.woff") format("woff");
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: "Fira Sans";
	src: local("Fira Sans Bold"),
		url("./fonts/Fira/FiraSans-Bold.woff2") format("woff2"),
		url("./fonts/Fira/FiraSans-Bold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "Fira Sans";
	src: local("Fira Sans Bold Italic"),
		url("./fonts/Fira/FiraSans-BoldItalic.woff2") format("woff2"),
		url("./fonts/Fira/FiraSans-BoldItalic.woff") format("woff");
	font-weight: 600;
	font-style: italic;
}

html,
body {
	font-family: "Fira Sans", sans-serif;
	font-size: min(5vw, 16px);
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	background-color: var(--palette-white);
}

:root {
	--palette-black: #000000;
	--palette-dark-purple: #0f004e;
	--palette-gray: #595959;
	--palette-gray-but-lighter: #cccccc;
	--palette-purple: #b200ff;
	--palette-red: #ff004d;
	--palette-light-gray: #e6e6e6;
	--palette-white: #fcfcfc;
}

.centered {
	display: flex;
	justify-content: center;
	align-items: center;
}
